[airgun]
verbosity=INFO
tmp_dir=/var/tmp

[satellite]
hostname=example.com
username=admin
password=changeme

[selenium]
browser=selenium
webdriver=chrome
webdriver_binary=/home/user/path/to/chromedriver
screenshots_path=/home/user/path/to/screenshots
# browseroptions=headless

[webkaifuku]
config={'webdriver': 'chrome', 'webdriver_options': {'command_executor': 'http://localhost/wd/hub', 'desired_capabilities': {'browserName': 'chrome', 'chromeOptions': {'args': ['disable-web-security', 'ignore-certificate-errors'], 'prefs': {'download.prompt_for_download': False}}, 'platform': 'any', 'maxduration': 5400, 'idletimeout': 1000, 'start-maximised': True, 'screenresolution': '1600x1200'}}}
