[airgun]
verbosity=INFO

[satellite]
hostname=example.com
username=admin
password=changeme

[selenium]
browser=selenium
webdriver=chrome
webdriver_binary=/home/user/path/to/chromedriver
screenshots_path=/home/user/path/to/screenshots
